/* src/styles/global.css */

/* 1. Importación nativa de Tailwind v4: Carga todas las utilidades base del framework. */
@import "tailwindcss";

/* 2. Importación de tokens de diseño: Aquí residen nuestras variables de color y sombras personalizadas. */
@import "./token.css";

/* 3. Importación de la tipografía: Usamos Fredoka por ser redondeada y amigable para niños. */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700;900&display=swap');

/* 4. Ajustes globales de UX:
   - -webkit-tap-highlight-color: Elimina el cuadro gris molesto al tocar en móviles.
   - overflow-x: hidden: Evita que la pantalla se mueva hacia los lados.
   - user-select: none: Evita que los niños seleccionen texto por error al jugar/interactuar, 
     lo que mantiene la experiencia limpia como una aplicación nativa.
*/
body {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  user-select: none; /* Evita que los niños seleccionen texto por accidente jugando */
}